.table {
  --table-vertical-margin: var(--editor-table-vertical-margin, var(--block-vertical-margin));

  width: 100%;
  margin: var(--table-vertical-margin) 0;
  border-collapse: collapse;
  border: 1px solid #dee2e6;
  background: #fff;
  caption-side: bottom;

  :global {
    thead th {
      background: var(--color-primary-5);
      color: var(--color-primary-50);
    }

    td, th {
      padding: 13px 15px;
      border: 1px solid #dee2e6;
      text-align: left;
    }

    th {
      font-weight: 400;
    }
  }
}
